* {
  box-sizing: inherit;
}

:root {
  --primary-color: #d0011b;
  --band-primary-color: #ee4d2d;
  --text-primary-color: #212121;
  --white-color: #fff;
  --black-color: #000;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  line-height: 1.2rem;
}

/* Common */
a {
  text-decoration: none;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Header */

.header {
  height: 120px;
  margin: 0 auto;
  background: var(--primary-color);
}

.header__nav,
.header__nav-item,
.header__nav-list {
  display: flex;
}

.header__nav {
  padding-top: 8px;
}
.header__nav-item {
  align-items: center;
  gap: 6px;
}

.header__nav-item-separate {
  display: flex;
  font-size: 0.85125rem;
  line-height: 1;
  font-weight: 300;
  color: var(--white-color);
  align-items: center;
  padding-right: 6px;
  border-right: 1px solid rgba(255, 255, 255, 0.22);
  position: relative;
  cursor: pointer;
}

.header__nav-item-separate:last-child {
  border-right: none;
}

.header__nav-item-separate a {
  color: #fff;
  text-align: center;
}
.header__nav-item-separate:hover a:hover,
.header__nav-item-separate:hover {
  color: #ccc;
}

/* Header QR */
.header__nav-item-qr:hover .header__qr {
  display: block;
  cursor: pointer;
}

.header__qr::before {
  content: "";
  display: block;
  background-color: transparent;
  width: 100%;
  height: 10px;
  position: absolute;
  left: 0;
  top: -4%;
}

.header__qr {
  display: none;
  width: 186px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  top: 110%;
  border-radius: 2px;
  z-index: 1;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  animation: fadeIn 0.2s ease-in;
}

.header__qr-img {
  width: 100%;
  object-fit: cover;
}

.header__qr-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 12px;
}

.header__qr-app-link-download {
  height: 18px;
}

/* Social */

.header__nav-item--social {
  display: inline-block;
  padding: 0 4px;
  font-size: 1rem;
}

/* Header list */
.header__nav-list {
  align-items: center;
  justify-content: flex-end;
}

.header__nav-list-notify {
  position: relative;
  color: var(--white-color);
  font-size: 0.85125rem;
  line-height: 1;
  text-align: center;
  font-weight: 300;
}
.header__nav-list-notify {
  cursor: pointer;
  margin-right: 8px;
}

.header__nav-list-notify:hover {
  color: #ccc;
}

.header__nav-list-notify:nth-child(2) {
  margin-right: 16px;
}

.header__nav-list--icon {
  margin-right: 4px;
}

/* =================== Notify ========================== */

.header__nav-list-notify:hover .notify__status {
  display: block;
  cursor: pointer;
}

.notify__status {
  display: none;
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: var(--white-color);
  right: 0;
  border-radius: 2px;
  border: 1px solid #eee;
  /* box-shadow: 0 1px 2px rgb(0 0 0 / 10%); */
  box-shadow: 1px 1px 2px rga(0, 0, 0, 0.1);
  top: 120%;
  animation: fadeIn 0.2s ease-in;
  z-index: 1;
}

.notify__status::before {
  content: "";
  position: absolute;
  border: 14px solid;
  border-color: transparent transparent var(--white-color) transparent;
  top: -28px;
  right: 12px;
}

.notify__status-wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
}

.notify__status-img {
  object-fit: cover;
  height: 100px;
}

.notify__status-desc {
  margin-top: 12px;
  color: var(--text-primary-color);
}

.notify__status-user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: #eee;
}

.notify__status-user a {
  color: var(--text-primary-color);
}

.notify__status-user-sign-in,
.notify__status-user-sign-up {
  padding: 16px 0px;
  width: 50%;
}
.notify__status-user-sign-up:hover,
.notify__status-user-sign-in:hover {
  cursor: pointer;
  background-color: #ccc;
}
.notify__status-user-sign-up:hover a,
.notify__status-user-sign-in:hover a {
  color: var(--band-primary-color);
}

.header__nav-list-notify:last-child {
  border-left: 1px solid rgba(255, 255, 255, 0.22);
  padding-left: 8px;
}

.header__nav-list-notify--user {
  font-weight: 500;
}

/* ================= notify__language ================*/
.notify__language {
  display: none;
  position: absolute;
  width: 200px;
  background-color: var(--white-color);
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  border-radius: 2px;
  right: -8px;
  top: 140%;
  animation: fadeIn 0.2s ease-in;
}

.header__nav-list-notify:hover .notify__language {
  display: block;
  cursor: pointer;
}

.notify__language-select {
  padding: 12px 0 8px 12px;
  display: flex;
  align-items: flex-start;
  color: var(--text-primary-color);
}

.notify__language::before {
  content: "";
  position: absolute;
  border: 12px solid;
  border-color: transparent transparent var(--white-color) transparent;
  top: -22px;
  right: 18%;
}
